/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* ====================================================================== */
/* Custom styling */

@font-face {
    font-family: 'inter-var';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    font-family: 'inter-var';
    color: #FFFFFF;
    padding: 0 1.25rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 25rem;
    border-radius: 10px;
    background-color: #1F1F1F;
    padding: 1.563rem;
    padding-bottom: 1.25rem;
}

/* profile image */
.profile-img-card {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    margin-top: 0.625;
}


img {
    border-radius: 50%;
}

/* Paragraph style */
p,
a,
blockquote {
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
}

p:nth-of-type(1) {
    font-size: clamp(0.875rem, 0.875rem + 0.7vw, 2rem);
    font-weight: 700;
    margin-bottom: 0.120rem;
}

blockquote:nth-of-type(1) {
    font-size: clamp(0.875rem, 0.3rem + 0.3vw, 1rem);
    font-weight: 400;
    color: #C4F82A;
}

blockquote:nth-of-type(2) {
    font-size: clamp(0.875rem, 0.3rem + 0.3vw, 1rem);
    font-weight: 600;
    color: #9B9B9B;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

/* list of links */
li {
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
    width: 18.125rem;
    max-width: 20rem;
    background-color: #333333;
    margin-top: 0.813rem;
    margin-bottom: 0.813rem;
    border-radius: 6px;
    text-transform: capitalize;
}

/* warn screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

a {
    max-width: 100%;
    min-height: 100%;
    text-align: center;
    font-size: clamp(0.875rem, 0.4rem + 0.4vw, 1.25rem);
}

/* links hover */
li:hover {
    color: #1F1F1F;
    background-color: #C4F82A;
}